
<div class="page-header">
      <%= link_to "New User", new_admin_user_path, class: "new pull-right" %>

  <h2>Users</h2>

</div>

<div id="users">

<table class="table table-striped table-bordered table-responsive table-hover">
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user, [:admin, user] %></td>
    </tr>
  <% end %>
</table>

</div>