
<div class="page-header">
  <%= link_to "Edit User", [:edit, :admin, @user], class: "edit pull-right" %>
  <%= link_to "Delete User", [:admin, @user], method: :delete, class: "delete pull-right", data: { confirm: "Are you sure you want to delete this User?"} %>

  <h2><%= @user.email %></h2>

</div>

<div id="user">

</div>