<div class="row">
  <div class="col-md-8">
    <header>
      <h1>Admin Lounge</h1>
    </header>
    <p>Welcome to Ticketee's Admin Lounge. Please enjoy your stay.</p>
  </div>

  <div class="col-md-4">
  <h2>Admin Links</h2>
    <ul class="nav nav-stacked">
      <li><%= link_to "Users", admin_users_path %></li>
    </ul>
  </div>
</div>